@import url("https://fonts.googleapis.com/css2?family=Pixelify+Sans&display=swap");
@font-face {
  font-family: "Pixeloid Sans";
  src: url("../assets/PixeloidSans-mLxMm\ copy.ttf") format("truetype");
}
.text {
  font-family: "Pixeloid Sans";
  color: white;
}
#songName {
  font-size: 17px;
  position: absolute;
  top: -4px;
  left: 5px;
}
#artist {
  font-size: 11px;
  position: absolute;
  top: 26px;
  left: 5px;
}
#time {
  font-size: 17px;
  position: absolute;
  top: 5px;
  right: 4px;
}
